body {
  min-width: 360px;
}

header {
  background-color: #000;
  height: 100px;
  padding-top: 10px;
}

ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  text-align: left;
  clear: both;
}

input {
  margin-right: 10px;
}

footer {
  text-align: center;
}

.fa {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  padding-left: 5px;
}

.main {
  margin: 50px auto;
  text-align: center;
}

.button {
  display: inline-block;
  width: 100px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  margin-top: 50px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.question-text {
  margin-bottom: 20px;
  font-weight: bolder;
}

.number-correct {
  color: green;
  font-weight: bold;
}

.number-wrong {
  color: red;
  font-weight: bold;
}

.result {
  display: inline-block;
  margin: 15px;
}

.js-wrong {
  color: red;
  visibility: visible;
}

.js-correct {
  color: green;
  visibility: visible;
}

#progress {
  margin-top: 100px;
}

#progress div {
  /*max-width: 80%;*/
  margin: 0 auto;
}

#progress span {
  display: inline-block;
  width: 20px;
  height: 5px;
  margin: auto 5px;
  background-color: #a1a1a1;
}

#progress span.completed {
  background-color: #000;
}

#title {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  color: white;
  letter-spacing: 5px;
}

#description {
  padding-left: 20px;
  padding-right: 20px;
}
