header {
  background-color: #a1a1a1;
  height: 100px;
  padding-top: 10px;
}

ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  text-align: left;
}

input {
  margin-right: 10px;
}

footer {
  text-align: center;
}

.main {
  max-width: 40%;
  margin: 50px auto;
  text-align: center;
}

.button {
  display: inline-block;
  width: 100px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  margin-top: 100px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.number-correct {
  color: green;
  font-weight: bold;
}

.number-wrong {
  color: red;
  font-weight: bold;
}

#progress {
  margin-top: 150px;
}

#progress span {
  display: inline-block;
  width: 50px;
  height: 5px;
  margin: auto 5px;
  background-color: #a1a1a1;
}

#progress span.completed {
  background-color: #000;
}

#title {
  text-align: center;
  color: white;
}
/*.display-btn {
  display: inline-block;
}*/
